@import '../../../styles/base.scss';

.CategoryList {
  .BizUnit {
    height: 32px;
  }
  .ToggleSelector-item {
    .BizUnit:hover {
      opacity: 0.75;
    }
    &.isChecked {
      .BizUnit {
        background: #3cb7ff;
        color: #fff;
      }
    }
  }
  &-more {
    text-align: center;
    margin: 18px;
    cursor: pointer;
    color: #008bfc;
    @include baseFont;
  }
}
