.ImageMaskWindow {
  position: relative;

  &-Mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &-Window {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &-Zoom {
    position: absolute;
    top: 0;
    left: 0;
  }
}
