@import '../../styles/base.scss';

.Posm { 
  position: relative;
  min-height: 100%;
  &-wrap {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &Filters {
    position: fixed;
    top: 97px;
    left: 22px;
    width: 384px;
    padding: 11px 20px;
    background: #F1F2F7;
    border-radius: 8px;
    z-index: 10;
    display: flex;
    .MuiFormControl-root {
      background-color: #fff;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &ShotGroup {
    padding: 20px 40px 20px 20px;
    &-month {
      height: 64px;
    }
    .Masonry {
      img {
        cursor: pointer;
      }
    }

    &-imgWrap {
      position: relative;
      cursor: pointer;
    }
    &-info {
      position: absolute;
      bottom: 5px;
      left: 5px;
      display: flex;
      font-size: 11px;
      color: #545E6B;

      &Item {
        height: 28px;
        border-radius: 4px;
        padding: 0px 8px;
        margin-right: 4px;
        background-color: #fff;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        svg {
          font-size: 18px;
          margin-right: 4px;
        }
      }

      @include baseFont
    }
  }
}