.Posm { 
  position: relative;
  min-height: 100%;
  &-wrap {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &Filters {
    position: fixed;
    top: 97px;
    left: 22px;
    width: 384px;
    // height: 64px;
    padding: 11px 20px;
    background: #F1F2F7;
    border-radius: 8px;
    z-index: 10;
    display: flex;
    .MuiFormControl-root {
      background-color: #fff;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &ShotGroup {
    padding: 20px 40px 20px 20px;
    &-month {
      height: 64px;
    }
    .Gallery {
      img {
        cursor: pointer;
      }
    }
  }
}