$prefix: 'SkuCard';

.#{$prefix} {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  border: 1px solid #b9b9b9;
  box-shadow: 0px 5px 7px 0px #b9b9b9;
  border-radius: 8px;
  &.active {
    transform: translateY(10px);
    border: none;
  }
  &-img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    &.hidden {
      display: none;
    }
  }
  &-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    &Content {
      position: relative;
      flex: 1;
      overflow: hidden;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      padding: 10px;
      color: #ffffff;
      white-space: pre-wrap;
      .text {
        font-size: 12px;
      }
      .replace {
        position: absolute;
        left: 10000px;
      }
    }
    &Footer {
      height: 30px;
      background: #4fb0f0;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      border-radius: 0 0 8px 8px;
      cursor: pointer;
      color: #ffffff;
    }
  }
}
