.PriceGraph {
  display: flex;
  flex-direction: column;
  &-content {
    flex: 1;
    overflow: hidden;
  }
  &-graph {
    height: 100% !important;
    width: 100%;
  }
  &-select {
    width: 162px;
    margin-left: 12px;
    margin-top: 22px;
    height: 36px;
    &-value {
      display: flex;
      align-items: center;
      &-text {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &-icon {
    height: 30px;
    width: 30px;
    margin-right: 4px;
  }
}
