@import '../../styles/base.scss';

.BizUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width: 100px;
  height: 36px;
  margin: 2px;
  padding: 0 10px;
  border: 1px solid #3cb7ff;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  font-size: 14px;
  color: #002a60;

  cursor: pointer;

  @include baseFont;

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    width: 24px;
    height: 24px;
    background-color: #eee;
    margin-right: 8px;
    border-radius: 4px;
  }
}
