.MapDemo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-map {
    height: 100%;
  }
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
// html,
// body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

.Debug {
  &Gallery {
    img {
      width: 100%;
    }
  }
}
