$base-font-family: 'PingFang SC';

@mixin baseFont {
  font-family: $base-font-family;
  font-weight: 600;
  font-style: normal;
}

.flex {
  display: flex;
}

.middle {
  align-items: center;
}

.center {
  justify-content: center;
}
