.flexCenter,
.flexMiddle,
.flex {
  display: flex;
}

.flexMiddle,
.middle {
  align-items: center;
}

.flexCenter,
.center {
  justify-content: center;
}

.textNoWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
