.LR {
  &-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    // background: green;
    padding: 85px 25px 40px 25px;
    // overflow-y: scroll;
    overflow-y: auto;
  }
  &-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;

    overflow-y: auto;
    // z-index: 100;
    // background: yellow;
  }
}
