@media screen and (max-width: 1920px) {
  .PricePanel-price-list-item {
    width: 25%;
  }
}
@media screen and (max-width: 1600px) {
  .PricePanel-price-list-item {
    width: 33.3%;
  }
}
@media screen and (max-width: 1300px) {
  .PricePanel-price-list-item {
    width: 50%;
  }
}
.PricePanel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  &.visible {
    display: block;
  }
  &-loading {
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 36px;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &-content {
    position: relative;
    padding: 37px 27px 0 27px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    margin-top: 44px;
    border-radius: 10px 10px 0 0;
    &-close.MuiButtonBase-root {
      position: absolute;
      right: 6px;
      top: 6px;
    }
  }
  &-price {
    height: 380px;
    display: flex;
    &-left {
      height: 380px;
      width: 380px;
      background: #f8f8f8;
      border: 1px solid #b4b4b4;
    }
    &-right {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      flex: 1;

      .date {
        display: flex;
        align-items: center;
        margin-top: 12px;
      }
      .title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
      }
    }
  }

  &-price-list {
    flex: 1;
    margin-top: 8px;
    overflow: auto;
    height: 0;
    background: #f1f2f7;
    padding: 6px 12px;
  }
  &-trend {
    margin-top: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    &-content {
      overflow: hidden;
      flex: 1;
      display: flex;

      &-left {
        display: flex;
        width: 50%;
        height: 100%;
        .PriceGraph-content {
          border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
      &-right {
        display: flex;
        width: 50%;
        height: 100%;
      }
    }
  }

  &-date-select {
    width: 162px;
    height: 36px;
  }

  .label {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: #469ce2;
    padding: 0 6px;
    border-left: 6px solid #469ce2;
  }
}
