.Gallery {
  display: flex;
  flex-flow: row wrap;
  ul {
    flex-grow: 0;
    flex-shrink: 0;
    list-style-type: none;
    overflow: hidden;
    > li {
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 0;
      overflow: hidden;
      min-height: 200px;
      border-radius: 10px;
      img {
        width: 100%;
      }

      &:last-child {
        padding-bottom: 0 !important;
      }
    }
  }
}
