.Timeline {
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 18px;
        border-right: 4px #AAA8A8 solid;
        // box-shadow: -2px 2px 4px
    }

    &Item {
        position: absolute;
        top: 0;
        right: 33px;
        // &::before {
        //     content: '';
        //     border-bottom: solid 2px blue;
        //     width: 100px;
        //     height: 0;
        //     font-size: 0;
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     transform: translate(100px, -50%);
        // }
        &::after {
            content: '';
            position: absolute;
            // top: 50%;
            right: 0;
            transform: translate(22px, -50%);
            width: 16px;
            height: 16px;

            background: #FF6B3C;
            border: 1px solid #FFFFFF;
            box-shadow: -2px 2px 4px rgba(152, 152, 152, 0.25);
            border-radius: 20px;
        }
        &-fixed {
            position: fixed;
            // top: 0;
            top: 68px;
        }
        &-content {
            width: 140px;
            // width: 200px;
            height: 44px;

            background: rgba(255, 107, 60, 0.8);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            color: #FFFFFF;
            transform: translateY(10px);
        }
    }
}