$prefix: 'WaterFallNoMoreDataRow';
.#{$prefix} {
  &-noMoreData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &Line {
      width: 40px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}
