@import '../../../styles/base.scss';

.RogDetail {
  &Right {
    // display: block;
    padding-top: 110px;
    background-color: #efefef;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &Left {
    &-title {
      display: block;
      font-size: 14px;
      color: #808080;
      margin: 24px 0 8px 0;

      @include baseFont;
    }
  }
}
