@import '../../styles/base.scss';

.Login {
  &-left {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      font-weight: 500;
      font-size: 48px;
      color: #FFFFFF;
      white-space: nowrap;

      @include baseFont
    }
  }

  &-mask {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-right {
    flex-direction: column;
    background: linear-gradient(280.89deg, #00B4ED 1.75%, #00A0E9 41.71%, #0CA4D5 80.89%, #51A2FF 93.59%);
  }

  &-logo {
    .MuiSvgIcon-root {
      font-size: 300px;
      transform: translateY(-100px);
    }
    height: 100px;
    margin-bottom: 60px;
    overflow: hidden;
  }
}