@import '../../styles/base.scss';

.Rog {
  .LR-left {
    padding: 0 25px 40px 25px;
  }
  &-map {
    width: 100%;
    height: 100%;
  }

  &List {
    &-title {
      display: block;
      margin: 40px 0 8px;

      font-size: 16px;
      line-height: 22px;

      color: #808080;

      @include baseFont;
    }
  }
}

.BrandList,
.RetailerList,
.CategoryList {
  .BizUnit {
    height: 32px;
  }
  .ToggleSelector-item {
    .BizUnit:hover {
      opacity: 0.75;
    }
    &.isChecked {
      .BizUnit {
        background: #3cb7ff;
        color: #fff;
      }
    }
  }
}
